* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	width: 1170px;
	margin: center;
}
header {
	background: black;
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}

/* Login */
.login-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.login-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
}
.login-text h1 span {
	color: #00fecb;
}

.login-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}

.login-text a:hover {
    background-color: #fff;
    color: #333;
    transition: 0.4s;
}

.loginBtn {
    border: 1px solid #fff;
    padding: 10px 25px;
    font-size: 14px;
	margin-top: 20px;
    display: inline-block;
}


/*resposive*/
@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.login-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.login-text h1 {
		font-size: 30px;
	}
}