<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Project</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">   
    <link href=" " rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src=https://code.jquery.com/jquery-1.12.4.js></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/data.js"></script>

</head>
<body>
  <header>
    <div class="wrapper">
        <ul class="nav-area">
          <li><a href="/">Home</a></li>
          <li><a href="projects">Projects</a></li>
          <li><a href="login">Login</a></li>
          <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Menu</button>
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search" id="myInput" onkeyup="filterFunction()">
              <a href="about">About</a>
              <a href="blog">Blog</a>
              <a href="notifications">Settings</a>
              <a href="support">Help</a>
              <a href="team">Team</a>
            </div>
          </div>
        </ul>
    </div>

    <script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      div = document.getElementById("myDropdown");
      a = div.getElementsByTagName("a");
      for (i = 0; i < a.length; i++) {
        txtValue = a[i].textContent || a[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          a[i].style.display = "";
        } else {
          a[i].style.display = "none";
        }
      }
    }
    </script>

    <div class="welcome-text">
      <h1>Create New Project</h1>
      <h2>Project Name:</h2>
      <input type="text" id="inputProjName" name="fname" placeholder="Enter Project Name">
      <br><br>

      <div id="dateSelector">
        <h2>Deadline:</h2>
        <input type="text" id="dateinput" placeholder="click to select date">
      </div>
      <br>

      <script>
        // var today = new Date();
        $("#dateinput").datepicker({
          numberOfMonths:1,
          changeYear:true,
          changeMonth:true,
          showOtherMonths: true,
          minDate: new Date()
        });
      </script>

      <h2>Topic:</h2>
      <p>Choose a topic related to your project</p>

      <p> 
          <label><input type="radio" name="topic" value="Art">Art</label>
          <label><input type="radio" name="topic" value="Beauty">Beauty</label>
          <label><input type="radio" name="topic" value="Design">Design</label>
          <label><input type="radio" name="topic" value="Food">Food</label>
          <label><input type="radio" name="topic" value="Home">Home</label>
          <label><input type="radio" name="topic" value="Music">Music</label>
          <label><input type="radio" name="topic" value="Pets">Pets</label>
          <label><input type="radio" name="topic" value="Planning">Planning</label>
          <label><input type="radio" name="topic" value="School">School</label>
          <label><input type="radio" name="topic" value="Software">Software</label>
          <label><input type="radio" name="topic" value="Engineering">Engineering</label>
          <label><input type="radio" name="topic" value="Exercise">Exercise</label>
      </p>

      <!-- <p><a href="projects" id="createProj">Save Project</a></p> -->
      <p><a id="createProj">Save Project</a></p>

    </div>

  </header>
</body>
</html>